$icon-font-path: "/bower_components/sass-bootstrap/fonts/";

@import 'sass-bootstrap/lib/bootstrap';

.heading {
    width:100%;
    text-align: center;  
}
#image-render {
    margin: 0 auto;
    text-align: center;
}